<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<%= form_for [@post, @comment], remote: true do |f| %>
  <div class="field">
    <%= f.label :body, "New Comment" %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>

<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
